<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdj.hdjblog.dao.ArticleDao">


    <update id="updateReadNum">
        update t_article set read_num = read_num + 1 where slug = #{slug}
    </update>

    <update id="updateLikeNum">
        update t_article set like_num = like_num + 1 where  slug = #{slug}
    </update>

    <select id="archiveTimeLine" resultType="cn.hdj.hdjblog.model.vo.TimeLineVO">
        SELECT
        COUNT(a.id) as `count`,
        DATE_FORMAT(a.create_time,'%Y') as `year`
        FROM
        t_article a
        where a.status = 1
        <if test="tag !=null and tag!=''">
           and FIND_IN_SET(#{tag}, a.tags)
        </if>
        GROUP BY `year`
        order by `year` desc
    </select>
    <select id="listTimelinePost" resultType="cn.hdj.hdjblog.model.vo.TimelinePostVO">
        SELECT
        a.id,
        a.title,
        a.slug,
        a.create_time
        FROM
        t_article a
        WHERE
        DATE_FORMAT( a.create_time, '%Y' )= #{year}
        and DATE_FORMAT(a.create_time,'%m')=#{month}
        and a.`status` = 1
        <if test="tag !=null and tag!=''">
            and FIND_IN_SET(#{tag}, a.tags)
        </if>
    </select>
</mapper>
