<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdj.hdjblog.dao.TagDao">

    <select id="getTagListByArticleId" resultType="cn.hdj.hdjblog.entity.TagDO">
        SELECT * FROM t_tag t
        LEFT JOIN t_tag_article ta on t.id = ta.tag_id
        WHERE ta.article_id = #{articleId}
    </select>
    <select id="groupCount" resultType="java.util.Map">
        select
            t.tag_name as tag,
            count(t.tag_name) as num
        from
            t_tag t
        inner join t_tag_article tta on
            t.id = tta.tag_id
        inner join t_article ta on
            ta.id = tta.article_id
        where
            ta.status = 1
        group by
            t.tag_name
    </select>
</mapper>
